<a [routerLink]="['/view-senga-post', post.id]">
  <ion-grid class="wrapper">
    <app-senga-post-header [username]="post.username" [authorImg]="post.authorImg" [time]="'7h'" ></app-senga-post-header>

    <ion-row class="content">
      <ion-col size="9">
        <div [innerHtml]="post.content"></div>
        <!-- <img class="preview-img" [src]="post.attachment" *ngIf="post.attachment"> -->
      </ion-col>
      <ion-col size="3">
        <ion-avatar *ngIf="post.attachment">
          <ion-img [src]="post.attachment"></ion-img>
        </ion-avatar>
        <!-- <img class="preview-img" [src]="post.attachment" *ngIf="post.attachment"> -->
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-between">

      <!-- <ion-col>
        <ion-button fill="clear"  size="small">
          <ion-icon name="repeat-outline" slot="start"></ion-icon>
          {{ post.reposts }}
        </ion-button>
      </ion-col> -->
      <div>
        <ion-button fill="clear" color="medium" size="small">
          <ion-icon name="thumbs-down-outline" slot="start"></ion-icon>
          <!-- <ion-icon name="heart-outline" slot="start"></ion-icon> -->
          {{ post.likes }} K
          <ion-icon name="thumbs-up-outline" slot="end"></ion-icon>

        </ion-button>
      </div>
      <div >
        <ion-button fill="clear" color="medium" size="small">
          <ion-icon name="chatbox-ellipses-outline" slot="start"></ion-icon>
          <!-- <ion-icon name="chatbubble-outline" slot="start"></ion-icon> -->
          {{ post.responses }}
        </ion-button>
      </div>
      <div>
        <ion-button fill="clear" color="medium" size="small">
          <ion-icon name="share-social-outline" slot="start"></ion-icon>
        </ion-button>
      </div>
    </ion-row>
  </ion-grid>

</a>


